body {
    background-color: #F4EAE1;
    margin: 0;
    font-family: 'Ubuntu';
    font-weight: 700;
}

main h1 {
    color: #edb506;
    float: right;
    font-size: 50px;
    margin-right: 3em;
    margin-top: 1em;
}


#projectCard1and2 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    height: 32em;
    margin-bottom: 6em;
}

/* first card */
#projectCard1and2 #firstCard {
    background-color: #D63FC1;
    width: 30em;
    height: 30em;
    border-radius: 4em;
    /* overflow: hidden; */
    box-shadow: 1em 0.7em #090444;
}

#projectCard1and2 #firstCard #webinarText1 {
    margin-left: 2.5em;
    color: #090444;
    margin-top: 2em;
    font-size: 2.5em;
    margin-bottom: 1em;
}

#projectCard1and2 #firstCard .webinarText2and3 {
    /* margin-top: 1em; */
    margin-left: 9em;
    color: #F4EAE1;
    font-size: 27px;
    font-weight: 500;
}

#projectCard1and2 #firstCard #webinarText4 {
    margin-top: 2em;
    margin-left: 2em;
    font-size: 1.5em;
}

/* second card */
#projectCard1and2 #secondCard {
    position: relative;
    background-color: #D63FC1;
    width: 30em;
    height: 30em;
    border-radius: 4em;
    overflow: hidden;
    box-shadow: 1em 0.7em #090444;
}

#projectCard1and2 #secondCard p {
    color: #F4EAE1;
    font-size: 2em;
    position: absolute;
    left: 2em;
    bottom: 0.5em;
}

#projectCard1and2 #secondCard #imgTote {
    background-image: url(../images/tote.jpg);
    background-position: center center;
    width: 22em;
    height: 30em;
    float: right;
}

/* third card */

#thirdCard {
    position: relative;
    margin: 0 auto;
    margin-bottom: 120px;
    background-color: #D63FC1;
    width: 81%;
    height: 30em;
    border-radius: 4em;
    overflow: hidden;
    box-shadow: 1em 0.7em #090444;
}

#thirdCard #GarbageText1 {
    margin-top: 2em;
    color: #090444;
    font-size: 2.5em;
    margin-left: 6%;
    width: 55%;
}

#thirdCard #GarbageText2 {
    color: #090444;
    font-size: 1.5em;
    margin-left: 6%;
    width: 65%;
}

#thirdCard #GarbageText3 {
    color: #F4EAE1;
    font-size: 1.5em;
    margin-left: 6%;
    width: 50%;
}

#thirdCard #imgGarbage {
    background-image: url(../images/Garbage.jpg);
    background-position: center;
    width: 30%;
    height: 30em;
    position: absolute;
    top: 0;
    right: 0;
}

/* cards 4&5 */

#projectCard4and5 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    height: 32em;
    margin-bottom: 6em;
}

/* forth card */

#projectCard4and5 #forthCard {
    position: relative;
    background-color: #D63FC1;
    width: 30em;
    height: 30em;
    border-radius: 4em;
    overflow: hidden;
    box-shadow: 1em 0.7em #090444;
}

#forthCard p {
    color: #090444;
    position: absolute;
    font-size: 2em;
    bottom: 1em;
    left: 1em;
}

#forthCard div {
    background-image: url(../images/clothing.jpg);
    background-position: center;
    width: 100%;
    height: 70%;
}

/* fifthCard */


#projectCard4and5 #fifthCard {
    position: relative;
    background-color: #D63FC1;
    width: 30em;
    height: 30em;
    border-radius: 4em;
    overflow: hidden;
    box-shadow: 1em 0.7em #090444;
} 

#fifthCard div {
    background-image: url(../images/dog.jpg);
    background-position: center center;
    width: 100%;
    height: 75%;
    position: absolute;
    bottom: 0;
}

#fifthCard #dogText1 {
    color: #F4EAE1;
    font-size: 2em;
    margin-bottom: 0;
    margin-top: 0.5em;
    margin-left: 5%;
}

#fifthCard .dogText2and3 {
    color: #090444;
    font-size: 1em;
    margin-top: 0.5;
    margin-left: 5%;
}

/* responsive */

@media (max-width: 1300px) {
    #projectCard1and2 #firstCard {
        width: 25em;
        height: 25em;
    }
    #projectCard1and2 #firstCard #webinarText1 {
        margin-left: 2em;
        color: #090444;
        margin-top: 1.5em;
        font-size: 2em;
        margin-bottom: 0.5em;
    } 
    #projectCard1and2 #firstCard .webinarText2and3 {
        /* margin-top: 1em; */
        margin-left: 8em;
        color: #F4EAE1;
        font-size: 24px;
        font-weight: 500;
    } 
    #projectCard1and2 #firstCard #webinarText4 {
        margin-top: 2em;
        margin-left: 2em;
        font-size: 1.5em;
    }
    #projectCard1and2 #secondCard {
        width: 25em;
        height: 25em;
    }
    #projectCard1and2 #secondCard p {
        color: #F4EAE1;
        font-size: 1.7em;
        position: absolute;
        left: 1.5em;
        bottom: 0.3em;
    }
    #projectCard1and2 #secondCard #imgTote {
        width: 17em;
        height: 25em;
    }
    #thirdCard {
        width: 81%;
        height: 25em;
    }
    #thirdCard #GarbageText1 {
        margin-top: 2em;
        font-size: 2em;
        margin-left: 6%;
        width: 55%;
    } 
    #thirdCard #GarbageText2 {
        color: #090444;
        font-size: 1.3em;
        margin-left: 6%;
        width: 65%;
    }
    #thirdCard #GarbageText3 {
        color: #F4EAE1;
        font-size: 1.2em;
        margin-left: 6%;
        width: 60%;
    }
    #projectCard4and5 #forthCard {
        width: 25em;
        height: 25em;
    }
    #forthCard p {
        color: #090444;
        position: absolute;
        font-size: 1.5em;
        bottom: 1em;
        left: 1em;
    }  
    #projectCard4and5 #fifthCard {
        width: 25em;
        height: 25em;
    } 
    #fifthCard div {
        background-image: url(../images/dog.jpg);
        background-position: center center;
        width: 100%;
        height: 70%;
        position: absolute;
        bottom: 0;
    }
    #fifthCard #dogText1 {
        color: #F4EAE1;
        font-size: 1.5em;
        margin-bottom: 0;
        margin-top: 1em;
        margin-left: 6%;
    }
    #fifthCard .dogText2and3 {
        color: #090444;
        font-size: 0.9em;
        margin-top: 8px;
        margin-bottom: 0;
        margin-left: 6%;
    }
}

@media (max-width: 1050px) {
    main h1 {
        font-size: 30px;
        margin-right: 2em;
        margin-top: 0.5em;
    }
    #projectCard1and2 {
        width: 80%;
        height: 18em;
        margin-bottom: 6em;
    }
    #projectCard1and2 #firstCard {
        width: 18em;
        height: 18em;
    }
    #projectCard1and2 #firstCard #webinarText1 {
        margin-left: 1.4em;
        width: 70%;
        margin-top: 1em;
        font-size: 1.4em;
        margin-bottom: 0.5em;
    }
    #projectCard1and2 #firstCard .webinarText2and3 {
        margin-left: 6em;
        width: 50%;
        font-size: 20px;
        font-weight: 500;
    }
    #projectCard1and2 #firstCard #webinarText4 {
        margin-top: 2em;
        margin-left: 1.7em;
        font-size: 1.2em;
    }
    #projectCard1and2 #secondCard {
        width: 18em;
        height: 18em;
    }
    #projectCard1and2 #secondCard p {
        font-size: 1.3em;
        left: 1em;
        bottom: 0.2em;
    }
    #projectCard1and2 #secondCard #imgTote {
        width: 14em;
        height: 18em;
    }
    #projectCard4and5 {
        width: 80%;
        height: 18em;
        margin-bottom: 6em;
    }
    #projectCard4and5 #forthCard {
        width: 18em;
        height: 18em;
    }
    #forthCard p {
        color: #090444;
        position: absolute;
        font-size: 1.1em;
        bottom: 1.3em;
        left: 0.8em;
    }  
    #projectCard4and5 #fifthCard {
        width: 18em;
        height: 18em;
    }
    #fifthCard #dogText1 {
        color: #F4EAE1;
        font-size: 1.3em;
        margin-bottom: 0;
        margin-top: 1em;
        margin-left: 6%;
    }
    #fifthCard .dogText2and3 {
        color: #090444;
        font-size: 0.8em;
        margin-top: 6px;
        margin-bottom: 0;
        margin-left: 6%;
    }
    #fifthCard div {
        background-image: url(../images/dog.jpg);
        background-position: center top;
        width: 100%;
        height: 65%;
        position: absolute;
        bottom: 0;
    }
}

@media (max-width: 770px) {
    #projectCard1and2 {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 18;
        height: 40em;
        margin-bottom: 6em;
    }
    #projectCard1and2 #firstCard {
        margin: 0 auto;
    }
    #projectCard1and2 #secondCard {
        margin: 0 auto;
    }
    #projectCard4and5 {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 18;
        height: 40em;
        margin-bottom: 6em;
    }
    #projectCard4and5 #forthCard {
        margin: 0 auto;
    }
    #projectCard4and5 #fifthCard {
        margin: 0 auto;
    }
}

@media (max-width: 710px) {
    #thirdCard {
        width: 81%;
        height: 18em;
    }
    #thirdCard #GarbageText1 {
        margin-top: 1.2em;
        font-size: 1.4em;
        margin-left: 4%;
        width: 45%;
    } 
    #thirdCard #GarbageText2 {
        color: #090444;
        font-size: 1.3em;
        margin-left: 4%;
        width: 60%;
    }
    #thirdCard #GarbageText3 {
        color: #F4EAE1;
        font-size: 0.6em;
        margin-left: 4%;
        width: 60%;
    }
}

@media (max-width: 531px) {
    #thirdCard {
        width: 18em;
        height: 18em;
    }
    #thirdCard #GarbageText1 {
        margin-top: 1.8em;
        font-size: 1em;
        margin-left: 6%;
        width: 45%;
    } 
    #thirdCard #GarbageText2 {
        margin-top: 1.8em;
        font-size: 1em;
        margin-left: 6%;
        width: 45%;
        color: #edb506;
    }
    #thirdCard #GarbageText3 {
        display: none;
    }
    #thirdCard #imgGarbage {
        width: 9em;
        height: 18em;
    }
}





