body {
    background-color: #F4EAE1;
    margin: 0;
    font-family: 'Ubuntu';
    font-weight: 700;
}

/* headline */

main #headMain {
    width: 100%;
    height: 700px;
    background-color: #edb506;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

main section #headImage img{
    float: right;
}

main section #headText {
    margin-left: 3em;
    margin-bottom: 8em;
    width: 35%;
    padding-top: 20em;
    text-shadow: -5px 5px #D63FC1;
}

main section #headText p {
    color: #F4EAE1;
    float: left;
    font-size: 50px;
}

/* project cards */

#MainProjectCards {
    color: #edb506;
    float: right;
    font-size: 3em;
    margin-right: 3em;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

#projectCard {
    display: flex;
    justify-content: space-around;
    margin-top: 16em;
    height: 28em;
    margin-bottom: 6em;
    padding: 0 2%;
}

/* first card */

#projectCard #firstCard {
    background-color: #D63FC1;
    width: 22em;
    height: 30em;
    border-radius: 4em;
    overflow: hidden;
    box-shadow: 1em 0.7em #090444;
}

#projectCard #firstCard #imgGym {
    background-image: url("../images/gymCard.jpg");
    background-position: center center;
    width: 22em;
    height: 20em;
}

#projectCard #firstCard #gymText1 {
    color: #090444;
    font-size: 2em;
    padding-left: 0.5em;
    margin: 0;
    margin-top: 0.5em;    
}

#projectCard #firstCard #gymText2 {
    margin: 0;
    color: #F4EAE1;
    padding-right: 2em;
    padding-left: 6em;
    padding-top: 1em;
}

/* second card */

#projectCard #secondCard {
    background-color: #D63FC1;
    width: 22em;
    height: 30em;
    border-radius: 4em;
    overflow: hidden;
    box-shadow: 1em 0.7em #090444;
}

#projectCard #secondCard #canText1 {
    font-size: 2em;
    padding-top: 2.5em;
    margin-left: 1em;
    color: #F4EAE1;
    margin-top: 0;
}

#imgCan {
    background-image: url(../images/Garbage.jpg);
    width: 22em;
    height: 22em;
    background-position: center top;
}

/* third card */

#projectCard #thirdCard {
    background-color: #D63FC1;
    width: 22em;
    height: 30em;
    border-radius: 4em;
    overflow: hidden;
    box-shadow: 1em 0.7em #090444;
}

#projectCard #thirdCard #chlothText {
    font-size: 2em;
    margin-top: 1.5em;
    margin-left: 1em;
    color: #090444;
}

#imgShirts{
    background-image: url(../images/shirts.jpg);
    width: 22em;
    height: 22em;
    background-position: center;
}

/* go vegan section*/

#GoVegan {
    margin: 0;
    background-color: #F4EAE1;
    height: 50em;
}

#GoVegan #imgBoxSalad {
    margin: 0;
    width: 100%;
    height: 22em;
}

#imgSalad {
    background-image: url(../images/salad.jpg);
    width: 100%;
    height: 22em;
    background-position: center center /cover;
    background-repeat: no-repeat;
    background-size: cover;
}

#saladTextBox {
    margin-left: 10em;
}

#GoVegan h3 {
    margin-top: 1em;
    font-size: 5em;
    width: 10%;
    color: #edb506;
    text-shadow: 5px 5px #090444;
    display: inline-block;
    width: 30%;
}

#GoVegan #saladTextBox p {
    float: right;
    width: 50%;
    font-size: 1.5em;
    color: #edb506;
    margin-right: 7%;
    margin-top: 6em;
} 

/* donation box */

#donationBox {
    height: 23em;
    margin: 0 5%;
}

#donationBox h3 {
    font-size: 50px;
    color: #edb506;
    float: right;
    margin: 0;
}

#donationBox #pEveryDolar {
    color: #edb506;
    font-size: 30px;
}

#textBoxDonation {
    padding-top: 50px;
}

#donationBox .pDonation {
    color: #090444;
    font-size: 25px;
}

/* responsive */

@media (max-width: 1200px) {
    #projectCard {
        width: 80%;
        flex-wrap: wrap;
        height: 1130px;
        margin: 0 auto;
    }
}

@media (max-width: 1020px) {
    #projectCard {
        height: 1200px;
    }
    #projectCard #firstCard {
        margin-right: 35px;
    }
    #projectCard #secondCard {
        margin-right: 35px;
    }
    #projectCard #thirdCard {
        margin-right: 35px;
    }
    #GoVegan {
        height: 800px;
    }
}

@media (max-width: 968px) {
    #projectCard {
        height: 1540px;
    }
}

@media (max-width: 860px) {
    #projectCard {
        height: 1700px;
    }
    main #headMain {
        height: 500px;
    }
    #saladTextBox {
        margin-left: 5em;
    }
    #GoVegan #saladTextBox p {
        margin-right: 3%;
    }
    main section #headImage img{
        float: none;
        position: static;
        width: 500px;
    }
    main section #headText p {
        color: #F4EAE1;
        float: none;
        font-size: 40px;
        position: absolute;
        top: 130px;
    }
}

@media (max-width: 730px)  {
    #MainProjectCards {
        font-size: 25px;
    }
    main section #headImage {
        margin: 0;
    }

    /* go vegan */
    #GoVegan {
        height: 40em;
    }
    #GoVegan h3 {
        margin-top: 0.5em;
        font-size: 3.5em;
        width: 30%;
    }
    #GoVegan #saladTextBox {
        height: 20em;
    } 
    #GoVegan #saladTextBox p {
        width: 40%;
        font-size: 1em;
        color: #edb506;
        margin-right: 8%;
        margin-top: 6em;
    } 

    /* donation */
    #donationBox { 
        height: 250px;
    }
    #donationBox h3 {
        font-size: 25px;
    }
    #donationBox #pEveryDolar { 
        font-size: 25px;
    }
    #textBoxDonation {
        padding-top: 40px;
    }
    #donationBox .pDonation {
        color: #090444;
        font-size: 20px;
    }
}

@media (max-width: 613px) {
    #donationBox h3 {
        float: none;
    }
    #textBoxDonation {
        padding-top: 0;
    }
}

@media (max-width: 550px) {
    main section #headText p {
        font-size: 30px;
        margin-right: 10%;
    }
    main #headMain {
        width: 100%;
        height: 450px;
        float: none;
    }   
    main section #headImage img{
        margin: 0;
        width: 350px;
    }
    #GoVegan #saladTextBox {
        height: 15em;
    } 
    #donationBox {
        margin-top: 100px;
    }
}

@media (max-width: 500px) {
    #projectCard {
        height: 1400px;
    }
    #projectCard #firstCard {
        margin: 0;
        width: 18.3em;
        height: 25em;
    }
    #projectCard #firstCard #imgGym {
        width: 19em;
        height: 18em;
    }
    #projectCard #firstCard #gymText1 {
        font-size: 1.2em;
        padding-left: 0.5em;
        margin: 0;
        margin-top: 0.5em;    
    }
    #projectCard #firstCard #gymText2 {
        margin: 0;
        color: #F4EAE1;
        font-size: 0.9em;
        padding-right: 1.5em;
        padding-left: 4em;
        padding-top: 0.5em;
    }
    #projectCard #secondCard {
        margin: 0;
        width: 18.3em;
        height: 25em;
    }
    #projectCard #secondCard #canText1 {
        font-size: 1.8em;
        padding-top: 2.3em;
        margin-left: 0.7em;
        color: #F4EAE1;
        margin-top: 0;
    }
    #imgCan {
        width: 19em;
        height: 18em;
    }
    #projectCard #thirdCard {
        margin: 0;
        width: 18.3em;
        height: 25em;
    }
    #projectCard #thirdCard #chlothText {
        font-size: 1.5em;
        margin-top: 1.5em;
        margin-left: 1em;
        color: #090444;
    }
    #imgShirts{
        width: 19em;
        height: 22em;
    }
    #GoVegan {
        height: 600px;
    }
    #GoVegan h3 {
        margin-left: 0.5em;
        font-size: 2em;
        width: 60%;
    }
    #GoVegan #saladTextBox{
        margin-left: 15px;
    }
    #GoVegan #saladTextBox p {
        margin-left: 10px;
        font-size: 15px;
        width: 85%;
        float: none;
        margin-top: 0;
    }
    #donationBox {
        margin-top: 15px;
        height: 220px;
    }
    #donationBox h3 {
        font-size: 20px;
    }
    #donationBox #pEveryDolar { 
        font-size: 20px;
    }
    #donationBox .pDonation {
        color: #090444;
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    main #headMain {
        position: static;
        display: block;
        height: 350px;
    }
    main #headMain #headText {
        padding: 0;
        margin: 0;
        margin-left: 10px;
    }
    main #headMain #headImage {
        width: 320px;
        margin: 0;
    }
}

@media (max-width: 350px) {
    main #headMain img {
        width: 320px;
        margin: 0;
    }
    main #headMain #headImage {
        width: 320px;
        margin: 0;
        overflow: hidden;
    }
}













